@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

*,
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.background-clip {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: -1;
}

@media (min-aspect-ratio: 16/9) {
  .background-clip {
    width: 100%;
    height: auto;
  }
}

@media (max-aspect-ratio: 16/9) {
  .background-clip {
    width: auto;
    height: 100%;
  }
}

.container {
  height: 100dvh;
  width: 100%;
  background: rgba(255, 255, 255, 0);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(6.5px);
  -webkit-backdrop-filter: blur(3.5px);
  border-radius: 10px;  
  display: flex;
  flex: wrap;
}

.wrap {
  height: 100dvh;
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.search {
  width: 100%;
  min-height: 200px;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
  padding-left: 80px;
}

.search h2 {
  color: white;
  transform-style: preserve-3d;
  transform: rotateX(15deg) rotateY(-20deg);
  perspective: 500px;
  padding: 15px 20px;
  /* border: 1px solid white; */
  font-size: 18px;
  font-weight: 600;
}

.input-container {
  position: relative;
  background: rgba(255, 255, 255, 0.664);
  padding: 8px 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  border-radius: 22px;
  min-width: 220px;
  max-width: 300px;
  transition: transform 400ms;
  transform-style: preserve-3d;
  transform: rotateX(15deg) rotateY(-20deg);
  perspective: 500px;
}

.shadow-input {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  bottom: 0;
  z-index: -1;
  filter: blur(30px);
  border-radius: 20px;
  background-color: #999cff;
  background-image: radial-gradient(
      at 85% 51%,
      hsla(60, 60%, 61%, 1) 0px,
      transparent 50%
    ),
    radial-gradient(at 74% 68%, hsla(235, 69%, 77%, 1) 0px, transparent 50%),
    radial-gradient(at 64% 79%, hsla(284, 72%, 73%, 1) 0px, transparent 50%),
    radial-gradient(at 75% 16%, hsla(283, 60%, 72%, 1) 0px, transparent 50%),
    radial-gradient(at 90% 65%, hsla(153, 70%, 64%, 1) 0px, transparent 50%),
    radial-gradient(at 91% 83%, hsla(283, 74%, 69%, 1) 0px, transparent 50%),
    radial-gradient(at 72% 91%, hsla(213, 75%, 75%, 1) 0px, transparent 50%);
}

.input-search {
  width: 100%;
  border-radius: 20px;
  outline: none;
  border: none;
  padding: 8px;
  position: relative;
}

.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 8px 25px;
  border: 0;
  position: relative;
  overflow: hidden;
  border-radius: 10rem;
  transition: all 0.02s;
  font-weight: bold;
  color: rgb(0, 0, 0);
  z-index: 0;
  box-shadow: 0 0px 7px -5px rgba(0, 0, 0, 0.5);
}

.button:hover {
  background: rgb(193, 228, 248);
  color: rgb(33, 0, 85);
}

.button:active {
  transform: scale(0.97);
}

.hoverEffect {
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.hoverEffect div {
  background: rgb(222, 0, 75);
  background: linear-gradient(
    90deg,
    rgba(222, 0, 75, 1) 0%,
    rgba(191, 70, 255, 1) 49%,
    rgba(0, 212, 255, 1) 100%
  );
  border-radius: 40rem;
  width: 10rem;
  height: 10rem;
  transition: 0.4s;
  filter: blur(20px);
  animation: effect infinite 3s linear;
  opacity: 0.5;
}

.button:hover .hoverEffect div {
  width: 8rem;
  height: 8rem;
}

@keyframes effect {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.result {
  width: 100%;
  max-height: 420px;
  min-height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.result-wrap {
    width: 80%;
    height: 80%;
    display: flex;
    flex-direction: column;
    /* background-color: #030202; */
    justify-content: center;
}

#weatherResult h2 {
    margin-bottom: 5px;
    font-size: 2.2em;
    color: #fff;
    padding-left: 40px;
}

#weatherResult p {
    color: #fff;
    margin: 2px 0;
    font-size: 1.1em;
    padding-left: 40px;
}

#weatherResult h4 {
    color: #fff;
    margin: 5px 0;
    font-size: 4.2em;
    padding-left: 40px;
}

#weatherResult img {
    /* margin-top: 5px; */
    height: 70px;
    padding-left: 40px;
}

#weatherResult > div {
    display: flex;
}

.wrap2 {
    height: 100dvh;
    width: 55%;
    border: 1px solid white;
    display: flex;
    align-items: center;
    justify-content: end;
  }

  .ilustration {
    width: 80%;
    height: 80%;
    border: 1px solid white;
    display: flex;
    flex-direction: column;
    align-items: end;
}